appdirs==1.4.3
asn1crypto==0.24.0
attrs==19.1.0
cached-property==1.5.1
certifi==2023.7.22
cffi==1.12.3
chardet==3.0.4
cryptography==3.3.2
defusedxml==0.6.0
django>=2.2.8
django-extensions==2.2.1
django-rest-auth==0.9.5
django-revproxy==0.9.15
django-saml2-auth==2.2.1
django-settings-export==1.2.1
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
docutils==0.15.2
graphviz==0.12
idna==2.8
isodate==0.6.0
lxml==4.9.1
pkg-resources==0.0.0
pkgconfig==1.5.1
psycopg2==2.8.3
pycparser==2.19
pydotplus==2.0.2
PyJWT==2.4.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
pysaml2==6.5.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.4.4
urllib3==1.26.5
